.data{
  border: none;
  background: none;
  padding: 0px;
  margin: 1px;
}

.no-gutters {
  max-width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}
.custom-width{
  width: 110%;
}

.bg-gold {
  /* background-color: #FFD700; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-silver {
  /* background-color: #C0C0C0; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-bronze {
  /* background-color: #CD7F32; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-light {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rounded-circle {
  border: 3px solid white;
}
.laurel-gold {
  top: -20%;
  left: 0%;
  width: 100%;
  height: 150%;
  /* transform: translate(-50%, -50%); */
}
.laurel-silver {
  top: -15%;
  left: 0%;
  width: 100%;
  height: 150%;
  /* transform: translate(-50%, -50%); */
}
.laurel-bronze {
  top: -15%;
  left: 10%;
  width: 80%;
  height: 150%;
  /* transform: translate(-50%, -50%); */
}
.laurel-winner {
  top: 0%;
  left: 35%;
  width: 30%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
}
.avatar-podium{
border-radius: 50%;
object-fit: cover;
}
.custom-nav {
  position: relative;
  border-radius: 10px;
  padding-top: 1rem; /* Añade espacio adicional para el texto en la parte superior */
}

.custom-nav::before {
  content: "Staff";
  position: absolute;
  top: -0.5rem; /* Posición del texto sobre el borde superior */
  left: 50%;
  transform: translateX(-50%); /* Centrar el texto horizontalmente */
  background-color: #fff; /* Color de fondo igual al de la barra de navegación */
  padding: 0 0.5rem; /* Espacio alrededor del texto */
  border-radius: 5px; /* Añade bordes redondeados al texto */

}
.custom-nav .nav-item {
  display: flex;
  align-items: center;
}
