{% extends "layout.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}


<div class="container d-flex align-items-center flex-column mt-5 ">  
    <form class="border border-light shadow-lg w-100 rounded-3 p-3 mb-3"  action="" method="POST"> {% csrf_token %}

        <table class="table table-striped table-hover shadow-lg bg-white rounded-3 w-100">
            <thead>
                <tr>
                    <th class="w-10 text-center" scope="col">Question</th>
                    <th class="w-10 text-center" scope="col">Answer</th>
                    <th class="w-10 text-center" scope="col">Player</th>
                </tr>
            
            </thead>
            <tbody>
                <tr>
                    <td class="w-10 text-center">{% render_field form.question class+="form-control" %}</td>
                    <td class="w-10 text-center">{% render_field form.answer class+="form-control" %}</td>
                    <td class="w-10 text-center">{% render_field form.player class+="form-control" %}</td>
                </tr>
                
            </tbody>
        </table>
        <tr>
            <input class="btn btn-primary w-100" type="submit", value="SEARCH">
        </tr>
    </form>


    <table class="table table-striped table-hover border border-light shadow-lg bg-white rounded-3 w-100">
        <thead>
            <tr>
                <th class="w-10 text-center" scope="col">Question</th>
                <th class="w-10 text-center" scope="col">Answer</th>
                <th class="w-10 text-center" scope="col">Player</th>

            </tr>
        
        </thead>

        <tbody>

            {% for answer in answers %}
            <tr>
                <td class="w-10 text-center">{{answer.question}}</td>
                <td class="w-10 text-center">{{answer.answer}}</td>
                <td class="w-10 text-center">{{answer.player}}</td>

            </tr>
            {% endfor %}

        </tbody>

    </table>

    <tr>
        <a class="btn btn-primary w-100" href="{% url 'answers_view' %}">RESET</a>
    </tr>

</div>

{% endblock %}