{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container d-flex align-items-center flex-column mt-5">  

    <form class="border border-light shadow-lg w-100 rounded-3 p-3"  action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}

        <div class="row mb-1 align-items-center justify-content-center">  
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-7 text-center">
                <h1>Form Add Players</h1>
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_user">User:</label>
            <div class="col-sm-7">
                {% render_field form.user class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_first_name">First Name:</label>
            <div class="col-sm-7">
                {% render_field form.first_name class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_last_name">Last Name:</label>
            <div class="col-sm-7">
                {% render_field form.last_name class+="form-control" %}
            </div>      
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_image">Image:</label>
            <div class="col-sm-7">
                {% render_field form.image class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_date_birth">Birth:</label>
            <div class="col-sm-7">
                {% render_field form.date_birth class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_phone">Phone:</label>
            <div class="col-sm-7">
                {% render_field form.phone class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_adress">Adress:</label>
            <div class="col-sm-7">
                {% render_field form.adress class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_city">City:</label>
            <div class="col-sm-7">
                {% render_field form.city class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_state">State:</label>
            <div class="col-sm-7">
                {% render_field form.state class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">        
            <label class="col-sm-1 col-form-label" for="id_country">Country:</label>
            <div class="col-sm-7">
                {% render_field form.country class+="form-control" %}
            </div>
        </div>

        <div class="row mb-1 align-items-center justify-content-center">  
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-7">
                <input class="btn btn-primary w-100" type="submit", value="ADD">
            </div>
        </div>

    </form>

</div>

{% endblock %}