{% extends "layout.html" %}
{% load static %}

{% block content %}


<div class="container d-flex align-items-center flex-column mt-5 ">  
    <form class="border border-light shadow-lg w-100 rounded-3 p-3 mb-3"  action="" method="POST"> {% csrf_token %}

        <table class="table table-striped table-hover shadow-lg bg-white rounded-3 w-100">
            <thead>
                <tr>
                    <th class="w-10 text-center" scope="col">First Name</th>
                    <th class="w-10 text-center" scope="col">Last Name</th>
                    <th class="w-10 text-center" scope="col">Birth</th>
                    <th class="w-10 text-center" scope="col">Phone</th>
                    <th class="w-10 text-center" scope="col">Adress</th>
                    <th class="w-10 text-center" scope="col">City</th>
                    <th class="w-10 text-center" scope="col">State</th>
                    <th class="w-10 text-center" scope="col">Country</th>

                </tr>
            
            </thead>
            <tbody>
                <tr>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="first_name" maxlength="100" id="id_first_name"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="last_name" maxlength="100"  id="id_last_name"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="date_birth" id="id_date_birth"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="phone" maxlength="100"  id="id_phone"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="adress" maxlength="100" id="id_adress"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="city" maxlength="100" id="id_city"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="state" maxlength="100" id="id_state"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="country" maxlength="100" id="id_country"></td>
                </tr>
                
            </tbody>
        </table>
        <tr>
            <input class="btn btn-primary w-100" type="submit", value="SEARCH">

        </tr>
    </form>







    <table class="table table-striped table-hover border border-light shadow-lg bg-white rounded-3 w-100">
        <thead>
            <tr>
                <th class="w-10 text-center" scope="col">First Name</th>
                <th class="w-10 text-center" scope="col">Last Name</th>
                <th class="w-10 text-center" scope="col">Birth</th>
                <th class="w-10 text-center" scope="col">Phone</th>
                <th class="w-10 text-center" scope="col">Adress</th>
                <th class="w-10 text-center" scope="col">City</th>
                <th class="w-10 text-center" scope="col">State</th>
                <th class="w-10 text-center" scope="col">Country</th>

            </tr>
        
        </thead>

        <tbody>

            {% for player in players %}
            <tr>
                <td class="w-10 text-center">{{player.first_name}}</td>
                <td class="w-10 text-center">{{player.last_name}}</td>
                <td class="w-10 text-center">{{player.date_birth}}</td>
                <td class="w-10 text-center">{{player.phone}}</td>
                <td class="w-10 text-center">{{player.adress}}</td>
                <td class="w-10 text-center">{{player.city}}</td>
                <td class="w-10 text-center">{{player.state}}</td>
                <td class="w-10 text-center">{{player.country}}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

    <tr>
        <a class="btn btn-primary w-100" href="{% url 'players_view' %}">RESET</a>
    </tr>

</div>

{% endblock %}