{% extends "layout.html" %}
{% load static %}

{% block content %}


<div class="container d-flex align-items-center flex-column mt-5 ">  
    <form class="border border-light shadow-lg w-100 rounded-3 p-3 mb-3"  action="" method="POST"> {% csrf_token %}

        <table class="table table-striped table-hover shadow-lg bg-white rounded-3 w-100">
            <thead>
                <tr>
                    <th class="w-10 text-center" scope="col">Question</th>
                    <th class="w-10 text-center" scope="col">Correct Answer</th>

                </tr>
            
            </thead>
            <tbody>
                <tr>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="question" maxlength="100" id="id_question"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="correct_answer" maxlength="100" id="id_correct_answer"></td>
                </tr>
                
            </tbody>
        </table>
        <tr>
            <input class="btn btn-primary w-100" type="submit", value="SEARCH">

        </tr>
    </form>


    <table class="table table-striped table-hover border border-light shadow-lg bg-white rounded-3 w-100">
        <thead>
            <tr>
                <th class="w-10 text-center" scope="col">Question</th>
                <th class="w-10 text-center" scope="col">Correct Answer</th>

            </tr>
        
        </thead>

        <tbody>

            {% for question in questions %}
            <tr>
                <td class="w-10 text-center">{{question.question}}</td>
                <td class="w-10 text-center">{{question.correct_answer}}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

    <tr>
        <a class="btn btn-primary w-100" href="{% url 'questions_view' %}">RESET</a>
    </tr>

</div>

{% endblock %}